.search {
  position: relative;
  margin: 50px 0 20px;
  justify-content: center;
  display: flex;
}

form > .search-input {
  border-radius: 50px;
  width: 50%;
  padding: 15px 20px;
  margin-bottom: 20px;
}

.search-button {
  margin-left: -80px;
  width: 100px;
  height: 51px;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 30%;
}

.search > .image {
  margin-top: 10px !important;
  margin-left: -50px !important;  
}