.restart-password {
    height: calc(100vh - 50px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.restart-password-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restart-password-wrapper {
    width: 300px;
    height: 250px;
    -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
}

.submit-restart-password {
    align-self: center;
    color: white;
    text-decoration: none;
}

.no-coincidence-error-text {
    color: red;
    font-size: 12px;
    margin-bottom: 15px;
}